<p style="color: green"><%= notice %></p>

<h1>Employee details</h1>

<div id="employee_details">
  <% @employee_details.each do |employee_detail| %>
    <%= render employee_detail %>
    <p>
      <%= link_to "View", employee_detail %>
    </p>
  <% end %>
</div>

<%= link_to "New", new_employee_detail_path %>
